google-map {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#hashtags {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 20px;
    color: white;
    list-style-type: none;
    padding: 0;
}

#hashtags li {
  display: block;
  margin-bottom: 10px;
}

google-map /deep/ .tweet-sender-link {
    font-weight: bold;
    text-decoration: none;
}

google-map /deep/ .tweet-moment {
    font-weight: bold;
    font-style: italic;
}

google-map /deep/ .tweet-retweets-img {
    height: 15px;
    vertical-align: text-bottom;
    padding-right: 2px;
    padding-left: 10px;
}

google-map /deep/ .tweet-favs-img {
    height: 10px;
    padding-top: 5px;
    padding-right: 2px;
}

google-map /deep/ .tweet-fav-count, google-map /deep/ .tweet-retweet-count {
    font-weight: bold;
}

#relocate {
    position: absolute;
    top: 20px;
    right: 20px
}
